{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{%static 'menu/style.css' %}">
</head>

<body>
    <a href="{% url 'main:index' %}"><img id="logo_pizza" src="{% static 'menu/images/lego_pizza1.png'%}" alt="">
</a>
    <div class="menu_title">
        <h1>Les pizzas</h1>
    </div>
    <div class="menu_liste">
        {% for pizza in pizzas %}
        <div class="menu_list_item">
            <span class="menu_list_title">{{pizza.nom}} : </span>
            <span class="menu_list_prix">{{pizza.prix | floatformat:2}}€</span>
            <span class="menu_list_ingredients">{{pizza.ingredients}}</span>
            {% if pizza.vegetarienne %}
            <span class="menu_list_badge">VEGETARIENNE</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>

</html>